<library path="src">
  <class name="EstopWidget" type="estop_widget.estop_widget_module.EstopWidget" base_class_type="rqt_gui_py::Plugin">
    <description>
	Widget to deal with nuice state
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>State View</label>
      <icon type="theme">system-help</icon>
      <statustip>View nuice state</statustip>
    </qtgui>
  </class>
</library>
