<launch>
  <group ns="camera1">
    <node name="cv_cam1" pkg="cv_camera" type="cv_camera_node">
      <param name="device_id" value="0"/>
      <param name="image_width" value="1280"/>
      <param name="image_height" value="720"/>
      <param name="rate" value="10"/>
    </node>
  </group>

  <group ns="camera2">
    <node name="cv_cam2" pkg="cv_camera" type="cv_camera_node">
      <param name="device_id" value="1"/>
      <param name="image_width" value="1920"/>
      <param name="image_height" value="1080"/>
      <param name="rate" value="3"/>
    </node>
  </group>
</launch>
