<launch>
	<node pkg="rosserial_arduino" ns="melt_board" args="/dev/serial/by-id/usb-STMicroelectronics_GENERIC_F401RB_CDC_in_FS_Mode_3072376E3430-if00" type="serial_node.py" name="melt_bridge">
		<param name="baud" value="115200"/>
	</node>
	<node pkg="rosserial_arduino" ns="movement_board" args="/dev/serial/by-id/usb-STMicroelectronics_GENERIC_F401RB_CDC_in_FS_Mode_3074376E3430-if00" type="serial_node.py" name="movement_bridge">
		<param name="baud" value="115200"/>
	</node>
	<node pkg="rosserial_arduino" ns="central_board" args="/dev/serial/by-id/usb-STMicroelectronics_GENERIC_F401RB_CDC_in_FS_Mode_3075376E3430-if00" type="serial_node.py" name="central_bridge">
		<param name="baud" value="115200"/>
	</node>
	<node pkg="rosserial_arduino" ns="drill_board" args="/dev/serial/by-id/usb-STMicroelectronics_GENERIC_F401RB_CDC_in_FS_Mode_3077376D3430-if00" type="serial_node.py" name="drill_bridge">
		<param name="baud" value="115200"/>
	</node>
	<node pkg="rosserial_arduino" ns="current_board" args="/dev/serial/by-id/usb-STMicroelectronics_GENERIC_F401RE_CDC_in_FS_Mode_208B357B5253-if00" type="serial_node.py" name="current_bridge">
		<param name="baud" value="115200"/>
	</node>
	
</launch>
