<launch>

  <arg name="model" default="$(find state_model)/urdf/prismm.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find state_model)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="x_motor_node" ns="/x_motor" pkg="nuice_simulations" type="motor_sim_node.py"  />
  <node name="probe_motor_node" ns="/probe_motor" pkg="nuice_simulations" type="motor_sim_node.py" />
  <node name="drill_motor_node" ns="/drill_motor" pkg="nuice_simulations" type="motor_sim_node.py" />
  <node name="joint_publisher" pkg="state_model" type="model_joint_animator.py" />

</launch>
